
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    background: #F7F7F7;
  }

  body {
    height: 100vh;
    font-size: 20px;
    display: flex;
    width: 100%;
    overflow-x: hidden;
  }

  #root {
    width: 100%;
  }

  html, code, pre {
    font-family: 'Poppins', sans-serif;
  }
}

/* Add this CSS to your stylesheet */
.code-container {
  display: flex;
}

.line-count {
  user-select: none;
  min-width: 30px;
  /* padding-right: 10px; */
  text-align: right;
  /* border-right: 1px solid #ddd; */
  /* margin-right: 20px; */
}

pre.code-block {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}
